@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#0f172a,
#1e293b,
#2563eb,
#0f172a
);

background-size:400% 400%;

animation:bg 12s ease infinite;
}

@keyframes bg{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}
}

.weather-card{

width:500px;

padding:30px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(15px);

border-radius:25px;

border:1px solid rgba(255,255,255,0.2);

box-shadow:0 8px 32px rgba(0,0,0,0.4);

color:white;
}

h1{
text-align:center;
margin-bottom:25px;
}

.search-box{

display:flex;
gap:10px;
margin-bottom:25px;
}

.search-box input{

flex:1;

padding:15px;

border:none;

border-radius:15px;

outline:none;

font-size:16px;
}

.search-box button{

width:60px;

border:none;

border-radius:15px;

background:#2563eb;

color:white;

cursor:pointer;

font-size:18px;
}

.weather-info{

text-align:center;
}

.weather-info img{

width:120px;
}

.temp{

font-size:3rem;
font-weight:700;
}

.details{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

margin-top:20px;
}

.box{

background:rgba(255,255,255,0.1);

padding:15px;

border-radius:15px;
}

.error{

text-align:center;
color:#ffb4b4;
font-weight:600;
}